Repository apache/iggy, pull requests merged in 2025-02, with the labels that each got.

#1480 Fix consumer group member partition assignments for no partitions
  Cargo.lock
  sdk/Cargo.toml
  sdk/src/models/messages.rs
  server/Cargo.toml
  server/src/streaming/systems/messages.rs
  server/src/streaming/topics/consumer_group.rs
  server/src/streaming/topics/consumer_offsets.rs
  server/src/streaming/topics/topic.rs
Labels: server

#1482 Use case-sensitive names for resources such as streams, topics, users etc.
  Cargo.lock
  sdk/Cargo.toml
  sdk/src/consumer_groups/create_consumer_group.rs
  sdk/src/identifier.rs
  sdk/src/models/topic.rs
  sdk/src/personal_access_tokens/create_personal_access_token.rs
  sdk/src/personal_access_tokens/delete_personal_access_token.rs
  sdk/src/streams/create_stream.rs
  sdk/src/streams/update_stream.rs
  sdk/src/topics/create_topic.rs
  sdk/src/topics/update_topic.rs
  sdk/src/users/create_user.rs
  sdk/src/users/login_user.rs
  sdk/src/users/update_user.rs
  sdk/src/utils/text.rs
  server/Cargo.toml
  server/src/streaming/streams/topics.rs
  server/src/streaming/systems/personal_access_tokens.rs
  server/src/streaming/systems/streams.rs
  server/src/streaming/systems/users.rs
  server/src/streaming/topics/consumer_groups.rs
Labels: improvement, server

#1495 Use aHash on the server side
  Cargo.lock
  integration/tests/streaming/stream.rs
  integration/tests/streaming/topic.rs
  server/Cargo.toml
  server/src/http/jwt/jwt_manager.rs
  server/src/http/jwt/storage.rs
  server/src/state/system.rs
  server/src/streaming/clients/client_manager.rs
  server/src/streaming/streams/storage.rs
  server/src/streaming/streams/stream.rs
  server/src/streaming/systems/streams.rs
  server/src/streaming/systems/system.rs
  server/src/streaming/topics/messages.rs
  server/src/streaming/topics/storage.rs
  server/src/streaming/topics/topic.rs
  server/src/streaming/users/user.rs
Labels: performance, improvement, server

#1524 chore(ci): skip publishing coverage to coveralls when label is set
  .github/workflows/coverage.yml
Labels: skip-coverage

#1535 chore(deps): update workspace dependencies
  Cargo.lock
  bench/Cargo.toml
  cli/Cargo.toml
  examples/Cargo.toml
  integration/Cargo.toml
  sdk/Cargo.toml
  server/Cargo.toml
  server/src/log/logger.rs
  tools/Cargo.toml
Labels: skip-coverage

#1549 feat(sdk): add nodelay for TCP client configuration and bench arg
  Cargo.lock
  bench/Cargo.toml
  bench/report/Cargo.toml
  bench/src/args/common.rs
  bench/src/args/props.rs
  bench/src/args/transport.rs
  bench/src/utils/client_factory.rs
  cli/Cargo.toml
  examples/src/shared/args.rs
  integration/Cargo.toml
  integration/src/tcp_client.rs
  integration/tests/data_integrity/verify_after_server_restart.rs
  integration/tests/server/tcp_server.rs
  sdk/Cargo.toml
  sdk/src/args.rs
  sdk/src/client.rs
  sdk/src/client_provider.rs
  sdk/src/clients/builder.rs
  sdk/src/tcp/client.rs
  sdk/src/tcp/config.rs
  server/Cargo.toml
Labels: config, sdk, dependencies
